body, html {
    height: 100%;
    font-family: "Inconsolata", "Arial", sans-serif;
}

.bgimg, .container, .logo-img-title-container, .input-details, .checkbox-group label, .logo-container, button {
    display: flex;
    justify-content: center;
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 5px;
    width: fit-content;
}

.bgimg {
    background: url("https://lh3.googleusercontent.com/d/1VwfM71ruMmg1vgBlXYUSoCTc8NzXdzyl") no-repeat center center;
    background-size: cover;
    min-height: 70%;
}

.container {
    max-height: calc(100% - 50px);
}

.logo-img-title-container, .input-details, .checkbox-group label, .logo-container {
    flex-direction: column; 
}

.checkbox-group input[type="checkbox"] {
    display: none;
}

.checkbox-group input[type="checkbox"]:checked + label {
    background-color: #007bff;
    color: #ffffff;
    border-color: #007bff;
}

.logo1, .logo2, .thumbnail {
    flex: 1;
    max-width: 100%;
    max-height: 100px;
    width: auto;
    height: auto;
    background-color: rgba(255, 255, 255, 0.60);
    padding: 1px;
    border-radius: 15px;
    margin: 10px;
    object-fit: contain;
}

.thumbnail {
    margin: 0px;
}

.text-container {
    text-align: center;
    width: 100%;
    max-width: 1000px;
}

.text-container span {
    font-size: calc(1vw + 1vh + 1vmin);
    color: white;
}

body {
    background: #EDEDED;
}

#csvGallery, .thumbnail {
    display: block;
}

.thumbnail {
    width: 100%;
    height: 50%;
    max-height: 400px;
    border-radius: 15px;
    z-index: 999;
    object-fit: scale-down;
    padding-bottom: 10px;
}

.selected {
    background-color: lightgreen;
}

input[type=text],
input[type=datetime-local],
input[type=number] {
    max-width: 375px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
    text-align: center;
}

input[type=text]:focus,
input[type=datetime-local]:focus,
input[type=number]:focus {
    border: 5px solid #555;
}

label {
    display: block;
    margin-top: 20px;
}

#csvGallery, .csvGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    max-height: 450px;
    flex: 1 1 190px;
    max-width: calc(20% - 20px);
    position: relative;
}

@media (max-width: 600px) {
    .card {
        max-width: 100%;
    }
}

.card.selected {
    background-color: lightgreen;
}

.card > div {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

.quantity-input {
    background-color: white;
}

.quantity-container {
    text-align: center;
    font-size: 0.8em;
}

#galleryContainer {
    position: relative;
}

#categorySelect, #subcategorySelect {
    position: relative;
    z-index: 1;
    font-size: larger;
    width: 100%;
    max-width: 375px;
    min-height: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.cart {
    position: fixed;
    right: -425px;
    top: 20px;
    width: 500px;
    height: 60px;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    display: none;
    z-index: 1000;
    background-color: #3496a0;
    will-change: transform; /* Add this line */
}

.cart:hover,
.cart:active {
    right: 0;
    height: 450px;
    transition: all 0.5s ease; /* Add this line */
}

.cart-items {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: height 0.5s ease-in-out; /* Add this line */
}

.cart:hover .cart-items,
.cart:active .cart-items {
    display: block; /* or 'flex' if you're using a flex layout for the cart items */
}

.cart.active {
    right: 0;
    height: 450px;
}

.cart-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f8f9fa;
    border: none;
    position: relative;
    z-index: 1;
    pointer-events: none; /* Add this line */
}


.cart-icon {
    font-size: 24px;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: #dc3545;
    color: #ffffff;
    border-radius: 50%;
    padding: 5px;
    font-size: 14px;
}

.cart-items {
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #f8f9fa;
    padding: 20px;
    box-sizing: border-box;
    display: none;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
